body{
    background-color: rgb(118, 216, 255);
    color: rgb(35, 42, 104);
    text-align: center;
}
h1 span{
    color: rgba(49, 38, 116, 0.658);
}
#dias_restantes{
    color: rgb(26, 123, 214);
    font-size: 50px;
}